@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  font-family: 'Roboto', Times, serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: flex-start; 
  align-items: stretch; 
  /* flex-flow: row nowrap; */ 
  flex-direction: row; 
  flex-wrap: nowrap; 
  align-content: stretch;
  background-color: #bbdefb;
  height: 100vh;
  padding: 0;
}

.flex-container > div{
  background: #efefef;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 0;
  align-self: stretch;
  overflow: hidden;
}

#game {
  /* flex:1 1 auto; */
  order: 0;
  flex-grow: 2;
  align-self: stretch;
  overflow: hidden;
  z-index: 0;
}
            
.instructions { 
  /* flex:0 1 auto; */
  order: 0;
  flex-grow: 0.3;
  align-self: stretch;
  overflow: hidden;
  z-index: 100;
  text-align: center;
  align-content: center;
}

.instructions>h1 {
  color: #000;
  font-size: 3.5rem;
}


#player {
  background-size: contain;
  position: absolute;
  z-index: 5;
}

.plane {
  background: url('../images/plane_lr_blue.png') no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

.bomb {
  background-size: contain;
  position: absolute;
  z-index: 3;
}

#game-over {
  text-align: center;
  vertical-align: middle;
  background-color: #ff0000;
  border: 5px solid #fff;
  border-radius: 25px;
  z-index: 100;
  position: absolute;
  display: inline-block;
}

#game-over>h1 {
  color: #fff;
  font-size: 3.5rem;
  line-height: 2.5rem;
}

#restart-button {
  color: #fff;
  font-size: 2.5rem;
  background-color: #1cc733;
  border: 3px solid #fff;
  padding: 5px 15px;
  border-radius: 15px;
  position: relative;
  margin: -10px 0 0 0;
}

#start {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #ff0000;
  border: 5px solid #fff;
  border-radius: 25px;
  z-index: 100;
  position: absolute;
}

#start-button {
  color: #fff;
  font-size: 2.5rem;
  background-color: #1cc733;
  border: 3px solid #fff;
  padding: 5px 15px;
  border-radius: 15px;
  position: relative;
  margin: 20% 0 0 0;
}

.bullet {
  background: url('../images/bullet.png') no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
}

#logo {
  box-sizing: border-box;
  height: 30vh;
  background: url('../images/raccoons_attack_logo.png') no-repeat center;
  background-size: contain;
  z-index: 5;
}

#keyboard {
  box-sizing: border-box;
  height: 20vh;
  background: url('../images/keys.png') no-repeat center;
  background-size: contain;
  z-index: 5;
}

#use-mouse {
  box-sizing: border-box;
  height: 20vh;
  background: url('../images//mouse_shoot.png') no-repeat center;
  background-size: contain;
  z-index: 5;
}

#score-box {
  color: #fff;
  background-color: #1cc733;
  border: 3px solid #fff;
  padding: 5px 15px;
  border-radius: 15px;
  position: absolute;
}

#score-box>span {
  font-size: 1.5rem;
  display: inline;
  vertical-align: middle;
}

#score {
  display: inline;
  font-size: 2.5rem;
  vertical-align: middle;
}