@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: flex-start; 
  align-items: stretch; 
  /* flex-flow: row nowrap; */ 
  flex-direction: row; 
  flex-wrap: nowrap; 
  align-content: stretch;
  background-color: #bbdefb;
  height: 100vh;
  padding: 0;
}

.flex-container > div{
  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 0;
  align-self: stretch;
  overflow: hidden;
}

#game {
  background: url('../images/landscape1.png') no-repeat;
  background-size: cover;
  /* flex:1 1 auto; */
  order: 0;
  flex-grow: 1;
  align-self: stretch;
  overflow: hidden;
  z-index: 0;
}
            
.instructions { 
  /* flex:0 1 auto; */
  order: 0;
  flex-grow: 0;
  align-self: stretch;
  overflow: hidden;
  z-index: 100;
}

#player {
  /*background: url('../images/raccoon_blue.png') no-repeat;*/
  /*background: url('../images/raccoon_soldier.png') no-repeat;*/
  background: url('../images/raccoon_viking.png') no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
}

.plane {
  background: url('../images/plane_lr_blue.png') no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

.bomb {
  background-color: #ff0000;
  position: absolute;
  border: 1px solid #000;
  z-index: 3;
}

#game-over {
  color: #fff;
  font-family: 'Anton', Times, serif;
  font-size: 4.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: #ff0000;
  border: 5px solid #fff;
  border-radius: 25px;
  z-index: 100;
  position: absolute;
}

#game-over button {
  color: #fff;
  background-color: #1cc733;
  border: 3px solid #fff;
  padding: 5px 15px;
  border-radius: 15px;
  position: relative;
}